.ui-cytoscape-nodeadd{
	z-index: 99999;

	/* Fix for plugin to render correctly when Bootstrap is being used*/
	-webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

.ui-cytoscape-nodeadd-nodediv{
	z-index: 99999;
	padding: 3px;
	text-align: center;
	position: absolute;

	/* Fix for line trail left by drag (in Chrome)*/
	-webkit-backface-visibility: hidden;

	/* Fix for plugin to render correctly when Bootstrap is being used*/
	-webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

#ui-cytoscape-nodeadd-icon{
	cursor: pointer;
}